*{
	padding:0px;
	margin:0px;
}
ul,li,ol{
	list-style:none;
}
a{
	text-decoration:none;
	display:block;
}
.clearfix:after{
	content:"";
	height:0px;
	display:block;
	clear:both;
}
.header{
	width: 100%;
	height: 153px;
	margin: 0 auto; 
	color: #fff;
}
.header2{
	width: 1200px;
	height: 90px;
	margin: 0 auto;
}
.header2 img{
	margin: 0 auto; 
	float: left;
	margin-top: 35px;
}
.p1{
	width: 332px;
	height: 31px;
	color: #0b4199;
	font-family: '微软雅黑';
	font-size: 30px;
	float: left;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 19px;
}
.p2{
	float: left;
	font-size: 21px;
	color: #4564a8;
	width: 212px;
	height: 22px;
	font-family: '微软雅黑';
	font-weight: bold;
	margin-top: 56px;
	margin-left: 180px;
}
.header2 ul{
	 float: left; 
	width: 230px;
	height: 16px;
	margin-top: 56px;
	margin-left: 30px;
	height: 16px;
	font-family: '微软雅黑';
	font-size: 16px; 
}

.header2 li{
	float: left;
}
.li1{
	border-right-style: solid;
	border-color: #7d7d7d;
	margin-right: 12px; 
	color: #ef2c34;
	border-width: 2px;
	font-size: 13px;
}
.li2{
	border-right-style: solid;
	border-color: #7d7d7d;
	margin-right: 11px;
	padding-right: 11px;
	color: #b0b0b0; 
	border-width: 2px;
}
.li3{
	color: #b0b0b0;
	margin-right: 18px;
}
.li4{
	color: #b0b0b0;
}
.header3{
	height: 63px;
	width: 100%;
}
.header4{
	width: 1200px;
	margin: 0 auto;
	height: 63px; 
}
.header4 li{
	float: left;
	margin-right: 51px;
	margin-bottom: 17px;
	margin-top: 30px; 
	font:16px '微软雅黑';
}
.header4 li:hover{
	background-color:#2756a4;
}
.header4 li a{
	color: #434343; 
} 
.header4 ul .sl1{
	background-color:#2756a4;
}
.aa{
	margin-left: 25px;
	margin-top: 19px;
	height: 38px;
	width: 254px;
	float: left;
	background-color: #ebeaea;
	border-width: 1px;
	border-color:#e2e2e2; 
	background-image: url(../images/images1/sousuo.png);
	background-repeat:no-repeat;
}
.body1{
	height:926px;
    background-color:#f9f9f9;
}
.body6{
	position:fixed;
	right:20px;
	top:136px;
} 
.body5{
	width:82px;
	height:80px;
	line-height:82px;
	background-color:#b0b0b0;
}
.body5 a:hover{
	background-color:#8d8d8d;
}
.body5 a ul li{
	font:14px '微软雅黑';
	text-align:center;
	color:#fff;
}
.body5 a ul .xs img{
	height:25px;
	padding-bottom:20px;
}
.body3{
	width:1198px;
    height:145px;
	padding-top:20px;
	border-bottom:2px dotted #cfcfcf;
	margin:0 auto;
	margin-bottom:30px;

}
.body3 .one a{
	float:left;
	font:14px '微软雅黑';
	color:#999999;
}
.body3 .one1{
	color:#0b4199;
}
.body3 .two h4{
	font:24px '微软雅黑';
	color:#3e3e3e;
	padding-top:62px; 
}
.body8{
	background-color:#fff;
	width:1140px;
	height:570px;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
	margin:0 auto;
}
.body8>p{
	font:16px '微软雅黑';
	line-height:30px;
	color:#333333;
}
.body8>img{
	width:377px;
	height:350px;
	padding-left:95px;
	padding-top:58px;
}
.blue{
	width:100% ;
	height: 60px;
	background-color: #0b4199;
}
.q{
	width: 1200px;
	margin: 0 auto;
	text-align:center;
	height: 60px;
}
.r{
	margin-top: 17px;
	width: 32px;
	height: 28px;
	float: left;
}
.s{
	margin-left: 9px;
	font-family:"微软雅黑";
	font-size: 18px;
	color: white;
	margin-top: 24px;	
	float: left;
}
.t{
	margin-left: 157px;
	float: left;
	margin-top: 18px;
	width: 29px;
	height: 28px;
}
.u{
	margin-left: 12px;
	font-family:"微软雅黑";
	font-size: 16px;
	color: white;
	margin-top: 22px;	
	float: left;
}
.v{
	margin-left: 475px;
	font-family:"微软雅黑";
	font-size: 16px;
	color: white;
	margin-top: 20px;	
	float: left;
}
.w{
	height: 29px;
	width: 29px;
	float: left;
	margin-top: 13px;
	margin-left: 20px;
}
.x{
	height: 29px;
	width: 29px;
	float: left;
	margin-top: 13px;
	margin-left: 16px;
}
.y{
	height: 29px;
	width: 29px;
	float: left;
	margin-top: 13px;
	margin-left: 15px;
}
.weibu{
	background-color: #454545;
	width: 100%;
	float: left;
}
.center{
	width: 1200px;
	margin: 0 auto;
}
.bb{
	margin-top: 60px;
	width: 185px;
	height: 220px;
	float:left; 
}
.cc{
	color: #ffffff;
	width: 185px;
	font-family:"微软雅黑";
	font-size: 16px;
	float: left;
	margin-bottom: 24px;
}
.center li{
	color: #ffffff;
	font-family:"微软雅黑";
	font-size: 14px;
	float: left;
	margin-bottom: 10px;
	width: 100%;
}
.dd{
	margin-top: 60px;
	float: left;
	width: 185px;
	height: 220px;
}
.ee{
	margin-top: 60px;
	float: left;
	width: 149px;
	height: 220px;
}
.ff{
	background-color: #525252;
	width: 1px;
	margin-top: 42px;
	height: 198px;
	float: left;
	margin-bottom: 40px;
}
.gg{
	margin-left: 35px;
	margin-top: 37px;
	width: 150px;
	height: 47px;
	float: left;
}
.hh{
	margin-top: 7px;
	float: left;
	margin-left: 34px;
	height: 14px;
	width: 200px;
	color: #ffffff;
	font-family:"微软雅黑";
	font-size: 14px;
}
.ii{
	margin-left: 29px;
	margin-top: 30px;
	width: 50px;
	height: 143px;
	float: left;
}
.ii1{ 
	margin-bottom: 32px;
	color: #ffffff;
	font-family:"微软雅黑";
	font-size: 14px;
}
.ii2{
	color: #ffffff;
	font-family:"微软雅黑";
	font-size: 14px;
}
.jj{
	width: 217px;
	height: 143px;
	float: left;
	margin-top: 30px;
}
.jj1{
	height: 35px;
	float: left;
	margin-bottom: 13px;
}
.jj li{
	color: #ffffff;
	font-family:"微软雅黑";
	font-size: 12px;
	margin-bottom: 9px;
}
.kk{
	height: 22px;
	width: 377px;
	float: left;
	color: #c3c3c3;
	font-family:"微软雅黑";
	font-size: 12px;
	margin-left: 80px;
}
.ll{
	width: 419px;
	height: 22px;
	float: left;
	color: #c3c3c3;
	font-family:"微软雅黑";
	font-size: 12px;
	margin-right: 9px;
}
.mm{
	height: 22px;
	float: left;
	color: #c3c3c3;
	font-family:"微软雅黑";
	font-size: 12px;
}




